*{
    margin: 0;
    padding: 0;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    box-sizing: border-box;

}
body{
    background: #1d2630;
}
.app{
    background: #fdfdfd;
    width: 80%;
    max-width: 600px;
    margin: 100px auto 0;
    border-radius: 10px;
    padding: 30px;

}
.app h1{
    font-size: 25px;
    color: #777;
    font-weight: 600;
    border-bottom: 0px solid #1d2630;
    padding: 20px;

}
.details{
    display: flex;
    justify-content: space-between;
    align-items: center;

}
.quiz{
    padding: 20px 0;
}
.quiz h2{
    font-size: 18px;
    color: #1d2630;
    font-weight: 600;

}
.number-of-quest{
    padding: 10px 10px;
    position: absolute;
    top: 250px;
    right: 550px;
    transform: translate(-50%,-50%);
}
.btn{
    background: #fff;
    color:#1d2630;
    font-weight: 500;
    width: 100%;
    border: 1px solid #333;
    padding: 10px;
    margin: 10px 0;
    text-align: left;
    border-radius: 4px;
    cursor: pointer;
    transition: all 0.33s;
}
.btn:hover{
    background: #1d2630;
    color: #fff;

}

#nextBtn{
    background-color: #1d2630;
    color: #fdfdfd;
    font-weight: 500;
    outline: none;
    width: 150px;
    border: none;
    padding: 10px;
    margin: 20px auto 0;
    border-radius: 4px;
    cursor: pointer;
    display: block;

}
.timer-div{
    background-color: #e1f5fe;
    width: 7.5em;
    border-radius: 1.8em;
    display: flex;
    justify-content: space-between;
    padding: 0.7em 1.8em;
    align-items: center;
}

.main{
    display:  none;
}
.start{
    display: contents;
    justify-items: center;
}
.startbtn{
    background: #fff;
    color:#1d2630;
    font-weight: 500;
    width: 100%;
    border: 1px solid #333;
    padding: 10px;
    margin: 10px 0;
    text-align: left;
    border-radius: 4px;
    cursor: pointer;
    transition: all 0.33s;
}
.startbtn:hover{
    background: #1d2630;
    color: #fff;
}

li{
    margin: 5px;
    font: 20px sans-serif,bold;
    text-justify: inter-word;
}