*{
    padding: 0;
    margin: 0;
}
body{
    display: flex;
    justify-content: center;
    padding-top: 15rem;
    justify-items: center;
    text-align: center;
    background: url(img/background.jpg) no-repeat center center/cover;
     
}

.container{
    background-color: aliceblue;
    width: 20rem;
    height: 10rem;
    border-radius: 2rem;
}
.timer{
    text-align: center;
    font-size: 64px;
    padding-bottom: 1rem;
}
i{
    color: aliceblue;
}
 #startStopBtw{

    height: 2rem;
    width:  3rem;
     margin-right: 50px;
     background-color: green;
}
#reset{
    
    height: 2rem;
    width:  3rem;
     margin-left: 50px;
     background-color: red;
}